body{
    background-color:#03045E ;
    
}
@media (max-width:768px){
    #level-one{
        display: fle\x;
        flex-direction: column;
        width: 100%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
}

