body{
    background-color:#780000 ;
    height: 100v;
}

@media (max-width:768px){
    
    main{
        display: flex;
        flex-direction: column;
    }
    #first-two{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}