@media (max-width:768px){
    header{
        display: flex;
        flex-direction:column;
        padding: 0;
}
#par1{
    display: none;
}
#first{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
}
}